# SPDX-License-Identifier: zlib-acknowledgement

*
!*/

!.gitignore

!README.md
!LICENSE

!homepage.html

!git/.gitmessage
!git/.git_templates/hooks/pre-commit
!git/.git_templates/hooks/post-merge

!c-init/**/*

!terminator/config

!ranger/rc.conf
!ranger/commands.py

!requirements.txt

!.bashrc
!.gdbinit
!python_gdb.py
!.inputrc
!.psqlrc
!setup
!.vimrc
!Dockerfile
!.python3-startup.py
!.gnuplot

!profile.ps1