# SPDX-License-Identifier: zlib-acknowledgement

*
!*/

!.gitignore

!README.md

!git/.gitmessage
!git/.git_templates/hooks/pre-commit

!terminator/config

!requirements.txt

!.bashrc
!.gdbinit
!.inputrc
!setup
!.vimrc
!Dockerfile
