# SPDX-License-Identifier: zlib-acknowledgement

*

!*/

!.gitignore
!.gitattributes

!README.md

!.bashrc
!.gdbinit
!.inputrc

!ubuntu-env-setup.bash
!sourcetrail.desktop
!vtune.desktop
!ghidra.desktop

!.vimrc
